.giphy-image {
    margin: 10px;
    padding: 10px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: auto;
        min-width: 150px;
        padding: 5px;
        background: url('./resources/loading.gif') no-repeat;
        background-position: center;
        background-size: 50px;
    }
}