.image-list {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: darkgrey;

    h2 {
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0 auto;

        li {
            display: inline-block;
        }
    }
}